.our-story {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../../assets/Block1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  max-height: 100vh;

  .blocks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .block1,
    .block2,
    .block3 {
      flex: 1;
      height: 150px;
      text-align: center;
      color: #fff;
      background: linear-gradient(to right, #000000, #13110f);
      padding: 25px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h5 {
        font-weight: 500;
        font-size: 25px;
      }

      p {
        font-size: 15px;
        font-weight: 400;
        margin-top: 20px;
      }
    }
  }

  .story-title {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% auto;

    h3 {
      text-align: center;
      text-decoration: underline;
      font-size: 30px;
      font-weight: 500;
      margin-top: 30px;
    }

    p {
      max-width: 750px;
      text-align: justify;
      line-height: 1.6em;
    }

    .para1 {
      margin-top: 50px;
    }
    .para2 {
      margin-top: 30px;
      margin-bottom: 30px;

      a {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}

/* ---------- MEDIA QUERY -------- */
@media screen and (max-width: 768px) {
  .our-story {
    background-position: center;

    .blocks {
      display: flex;
      flex-direction: column;
      gap: 1.5px;

      .block1,
      .block2,
      .block3 {
        width: 100%;
        padding: 10px 30px;
      }
    }
    .story-title {
      h3 {
        font-size: 25px;
        text-decoration: underline;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
